flows.json
[
    {
        "id": "b282dc757b7bb1ac",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f6c36a7d442d2d4",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "b282dc757b7bb1ac",
        "name": "Marcelo",
        "credtype": "account",
        "account": "788165e98951df2a",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 920,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "296110f347551fde",
        "type": "serial in",
        "z": "b282dc757b7bb1ac",
        "name": "COM5",
        "serial": "06451af7f8e0feec",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "dd3b770ad978dc31"
            ]
        ]
    },
    {
        "id": "dd3b770ad978dc31",
        "type": "change",
        "z": "b282dc757b7bb1ac",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$trim(payload)",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 420,
        "wires": [
            [
                "6f6c36a7d442d2d4"
            ]
        ]
    },
    {
        "id": "788165e98951df2a",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "MarceloTest"
    },
    {
        "id": "06451af7f8e0feec",
        "type": "serial-port",
        "name": "",
        "serialport": "COM1",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    }
]